<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Boolzapp</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.2/css/bootstrap.css' integrity='sha512-r0fo0kMK8myZfuKWk9b6yY8azUnHCPhgNz/uWDl2rtMdWJlk7gmd9socvGZdZzICwAkMgfTkVrplDahQ07Gi0A==' crossorigin='anonymous'/>

    <link rel="stylesheet" href="style.css">
</head>
<body class="d-flex align-items-center px-5">

    <!-- Contenitore principale -->
    <div class="container-fluid px-0 d-flex" id="app">

        <!-- Contenitore del dei contatti a sinistra -->
        <div id="left-block" class=" col-5">

            <!-- Contenitore header del blocco -->
            <div id="header-left-block" class="d-flex align-items-center justify-content-between px-3 py-2">
                
                <!-- Contenitore img profilo e nome utente -->
                <div class="d-flex align-items-center">
                    <figure class="mx-2">
                        <img src="./img/avatar_io.jpg" alt="">
                    </figure>

                    <span class="fs-5 fw-bold">Sofia</span>
                </div>

                <!-- Contenitore dei tasti -->
                <div>
                    <i class="fa-solid fa-circle-notch fs-4 text-secondary mx-2"></i>
                    <i class="fa-solid fa-message fs-4 text-secondary mx-2"></i>
                    <i class="fa-solid fa-ellipsis-vertical fs-4 text-secondary mx-2"></i>
                </div>
            </div>

            <!-- Messaggio notifiche -->
            <div id="mess-container" class="d-flex align-items-center py-2 px-4">
                <div class="circle-mess d-flex align-items-center justify-content-center">
                    <i class="fa-solid fa-bell-slash fs-2 "></i>
                </div>

                <div class="ms-2">
                    <span class="d-block fw-bold">Ricevi notifiche di nuovi messaggi</span>
                    <span class="fw-lighter text-decoration-underline">Attiva notifiche dekstop</span>
                </div>
            </div>

            <!-- Barra di ricerca -->
            <div id="searchBar" class="d-flex bg-white mx-3 my-3 p-2 border">
                <div class="col-1 d-flex align-items-center justify-content-center">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </div>

                <div class="col-11">
                    <input type="text" placeholder="Cerca o inizia una nuova chat" class="w-100 ">
                </div>
            </div>

            <!-- Sezione Contatti in maniera dinamica -->
            <div class="bg-white me-3">

                <!-- Contatto -->
                <div
                    v-for="(element, index) in contacts"
                    @click="changeUser(index)"
                >
                    <div class="py-1 border-bottom d-flex position-relative">
                        <figure class="mx-3">
                            <img :src="element.avatar" alt="">
                        </figure>

                        <div>
                            <span class="d-block fw-bold fs-5">{{element.name}}</span>
                            <span class="fw-light text-secondary">
                                {{ element.messages[element.messages.length -1].message  }}
                            </span>
                        </div>

                        <div class="position-absolute right top-0 end-0 me-2 mt-1">
                            <span class="fw-light text-secondary">
                                {{ element.messages[element.messages.length -1].date  }}
                            </span>
                        </div>
                    </div>
                </div>
                
                
            </div>

        </div>

        <!-- Contenitore di destra della chat -->
        <div id="right-block" class="border  col-7 d-flex flex-column justify-content-between">
            
            <div id="header-right-block" class="d-flex align-items-center justify-content-between px-3 py-2">
                
                <!-- Contenitore img profilo e nome utente -->
                <div class="d-flex align-items-center">
                    <figure class="mx-2">
                        <img :src="contacts[currentAvatar].avatar" alt="">
                    </figure>

                    <div>
                        <span class="d-block fw-bold fs-5">{{ contacts[currentAvatar].name }}</span>
                        <span class="fw-light text-secondary">Ultimo messaggio inviato : {{  }}</span>
                    </div>

                </div>

                <!-- Contenitore dei tasti -->
                <div>
                    <i class="fa-solid fa-magnifying-glass fs-4 text-secondary mx-2"></i>
                    <i class="fa-solid fa-paperclip fs-4 text-secondary mx-2"></i>
                    <i class="fa-solid fa-ellipsis-vertical fs-4 text-secondary mx-2"></i>
                </div>
            </div>

            <!-- Contenitore della chat -->
            <div class="chat-container d-flex flex-column">

                <div class="pe-5 d-flex"
                v-for="(elements, index) in contacts[currentAvatar].messages"
                :class="{ 'justify-content-end': elements.status === 'inviato' }"
                >
                    <div id="Mess" 
                    class=" rounded position-relative mt-1 "
                    :class="(elements.status === 'inviato') ? 'sent' : 'received'"
                    >
                       {{ elements.message }}
                        <span class="ora fw-light text-secondary position-absolute bottom-0 end-0 me-1"> 12:00 </span>
                    </div>
                </div>
                
            </div>

            <div id="chatSection" class="d-flex align-items-center justify-content-between px-3 rounded-top ">

                <i class="fa-regular fa-face-smile text-secondary fs-4"></i>
                
                <input type="text" placeholder="Scrivi un messaggio" class="rounded p-2">

                <i class="fa-solid fa-microphone text-secondary fs-4"></i>
                
            </div>
        </div>
    </div>
    



    <script src='https://unpkg.com/vue@3/dist/vue.global.js'></script>
    <script src="./main.js"></script>
</body>
</html>