*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    background: linear-gradient(
        to bottom,
        #009688 0%,
        #009688 20%, 
        #d9dbd4 20%,
        #d9dbd4 100%
        );
}

figure  {
    border-radius: 50%;
    width: 70px;
    height: 70px;
    margin: 0;
}

figure img{
    width: 100%;
    border-radius: 100%;
}

input{
    border: none;
}

.container-fluid{
    background-color: white;
    height: 900px;
}

/* LEFT BLOCK */
#mess-container{
    background-color: #8EDAFC;
}

#mess-container .circle-mess{
    border-radius: 50%;
    width: 70px;
    height: 70px;
    background-color: white;
}

#mess-container .circle-mess i{
    color: #8EDAFC;
}
 

/* RIGHT BLOCK */
#header-right-block,
#chatSection{
    height: 85px;
}

.chat-container{
    height: calc(100% - 85px);
    overflow: auto;
    background-image: url(./img/mine.jpg);
    padding-top: 80px;
    padding-left: 40px;
}

#chatSection{
    background-color: #F3EEEA;
}

#chatSection input{
    width: 400px;
}

.received{
    background-color: white;
    width: 30%;
    padding: 10px;
}

.sent{
    background-color: #D5F9BA;
    width: 30%;
    padding: 10px;
    
}

.ora,
.fa-chevron-down{
    font-size: 12px;
}

.fa-chevron-down{
    color: lightgray;
    cursor: pointer;
}

#dropdown{
    background-color: #f1f1f1;
    top: 18px;
    right: 5px;
    z-index: 1;
    padding: 10px;
    padding-inline: 30px;
}

#dropdown span{
    cursor: pointer;
}






