*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    background: linear-gradient(
        to bottom,
        #009688 0%,
        #009688 20%, 
        #d9dbd4 20%,
        #d9dbd4 100%
        );
}

figure  {
    border-radius: 50%;
    width: 70px;
    height: 70px;
    margin: 0;
}

figure img{
    width: 100%;
    border-radius: 100%;
}

.container-fluid{
    background-color: #D7D6D7;
}

/* LEFT BLOCK */
#mess-container{
    background-color: #8EDAFC;
}

#mess-container .circle-mess{
    border-radius: 50%;
    width: 70px;
    height: 70px;
    background-color: white;
}

#mess-container .circle-mess i{
    color: #8EDAFC;
}

input{
    border: none;
}
