*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    background: linear-gradient(
        to bottom,
        #009688 0%,
        #009688 20%, 
        #d9dbd4 20%,
        #d9dbd4 100%
        );
}